<ion-view view-title="Sign-In" name="login-view"> 
 <ion-content class="padding">
        
  <div class="list list-inset">
	 <div class="item item-divider align-center">
       <center> <i class="icon ion-ios-plus-outline"> LM Import's: Acesso</i></center>
	 </div>
	 
	  <form class="list" name="contato" ng-submit="onSubmit()" novalidate>
        <label class="item item-input item-stacked-label" ng-class="{ 'input-error' : (contato.nome.$error.required || contato.nome.$error.minlength) && !contato.nome.$pristine }">
          <span class="input-label">Nome</span>
          <input type="text" name="nome" ng-model="model.nome" minlength="2" required>
          <span class="error" ng-show="contato.nome.$error.required && !contato.nome.$pristine">Nome &eacute; obrigat&oacute;rio</span>
          <span class="error" ng-show="contato.nome.$error.minlength && !contato.nome.$pristine">No m&iacute;nimo  05 caracteres</span>
        </label>
        <label class="item item-input item-stacked-label" ng-class="{ 'input-error' : (contato.email.$error.required || contato.email.$error.email) && !contato.email.$pristine }">
         <span class="input-label">E-mail</span>
         <input type="email" name="email" ng-model="model.email" required>
         <span class="error" ng-show="contato.email.$error.required && !contato.email.$pristine">E-mail &eacute; obrigat&oacute;rio</span>
         <span class="error" ng-show="contato.email.$error.email && !contato.email.$pristine">E-mail inv&aacute;lido</span>
        </label>
        <br>
        
         <button class="button button-positive button-small" type="submit" ng-disabled="contato.$invalid">Entrar <span class="glyphicon icon ion-ios-redo-outline" aria-hidden="true"></span></button>
         <button class="button button-positive button-small" type="button" >Novo <span class="glyphicon icon ion-android-contact" aria-hidden="true"></span></button>
         <button class="button button-positive button-small" type="button" >Limpar <span class="glyphicon icon ion-android-refresh" aria-hidden="true"></span></button>
         <button class="button button-positive button-small" type="button" >Esqueci a senha  <span class="glyphicon icon ion-android-bulb" aria-hidden="true"></span></button>
        <br>
      </form>
   </div>
   
<br><br><br><br>
 
 </ion-content> 
</ion-view>







