<ion-view view-title="Compras">
    <ion-content class="padding"> 
        <center>
          <img src="img/pagueSeguro.png"  style="width:270px;height:70px;margin:auto;display:block" >
        </center>
        <ion-list>
          <ion-list>
            <ion-item>
               <button class="botao button button-positive" id="1" ng-click="getId(15)">Icon</button>
     </ion-item>
    </ion-list>
    
        </ion-list>
       <br><br>



    </ion-content>
</ion-view>