<ion-view view-title="Produtos">
    <ion-content class="padding"> 
        <center>
          <img src="img/pagueSeguro.png"  style="width:270px;height:70px;margin:auto;display:block" >
        </center>
        <ion-list>
          <ion-item ng-repeat="image in imagess">
              <h2><p class="energized">{{image.produto}} <span class="icon ion-eye" aria-hidden="true" title="clique na imagem para visualizar"></span></h2>
              <ion-thumbnail item-start>
               <img src="{{image.img}}" style="width:100px;height:100px;"> 
              </ion-thumbnail>
              <p>R$ {{image.preco}} - Desc {{image.desconto}}</p>
               <ion-checkbox ng-model = "checkboxModel.value1"> 
                <i class="icon ion-android-share"></i> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
             </ion-checkbox>
             <p><b>{{checkboxModel.value}}</b></p>
             <p>Quantidade: <b></b></p>
             <p>Total: <b>R$ {{checkboxModel.total}}</b></p>
          </ion-item>
        </ion-list>
       <br><br>



    </ion-content>
</ion-view>