<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
           <p class="energized">
              <h1 class="title">Sobre Martplore</h1>
           </p>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                  <p class="energized"><i class="icon ion-ios-plus-outline"> Home </i></p> 
                </ion-item>
                
                
              
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
