<ion-header-bar class="bar-stable">
    <p class="energized">
       <h1 class="title"></h1>
    </p>
 </ion-header-bar>

 <ion-view view-title="Produtos">
    <ion-content class="padding">
          <img src="img/pagueSeguro.png"  style="width:270px;height:70px;margin:auto;display:block" >
       <ion-item>
        <ion-card ng-repeat="dado in dados track by $index" >
           <img src= "{{dado.img}}" width="279" height="270">
            <ion-fab right right>
                <i class="icon-olho ion-eye"></i>
            </ion-fab>
            <ion-item>
               <i class="icon ion-ios-heart-outline"></i>
              <h2>{{dado.nome}}</h2>
              <p>Desconto: {{dado.desconto}}%</p>
            </ion-item>
            <ion-item>
              <span item-start>R$ {{dado.preco}}</span>
              <span item-start style="align-self: auto;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <button style="align-content: left" value="{{dado.id}}" class="button button-positive button-small" on-touch = "onTouchAdd(this)">
                      
                 <span class="icon ion-ios-cart-outline" aria-hidden="true"> Adicionar </span>
              </button>
              
            </ion-item>
        </ion-card>
        <ion-card>
                 <ion-item ng-repeat="item in lista track by $index">
                      <ion-thumbnail item-start>
                           <img src="{{item.local}}" width="50" height="50">
                              </ion-thumbnail>
                                   <p>Produto: {{ item.nome}}</p>
                                   <p>Quantidade: {{ item.qtde }}</p>
                                   <p>R$: {{ item.valor }}  —  Desc: {{ item.perc }}%</p>
                                   <p>R$: {{ item.total }}</p>
                                   <button ion-button clear item-end>View</button>
                   </ion-item>
                  
          
         
        </ion-card>
        <ion-card>
            <ion-item></ion-item>
        </ion-card>
     </ion-content>
     
     <br><br><br><br>
    <br><br>
  </ion-view>
