.tutorial-page {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

   .slide-zoom {
    height: 100%;
   }

   .slide-title {
    margin-top: 2.8rem;
   }

   .slide-image {
    max-height: 60%;
    max-width: 70%;
    margin: 28px 0;
   }

   .b {
    font-weight: 500;
   }

   .p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    .b {
      color: #000000;
     }
  }

}
.zoom {
	       overflow: hidden;
	        padding-top: calc(20px + 4px);
     }
 
.zoom img {
	           max-width: 100%;
	          -moz-transition: all 0.3s;
	          -webkit-transition: all 0.3s;
	           transition: all 0.3s;
}

.zoom:hover img {
	                  -moz-transform: scale(1.1);
	                  -webkit-transform: scale(1.1);
	                   transform: scale(1.5);
 }

.ion-slide.swiper-slide {
      left: 25%;
}
  
.slide-zoom {
      background: #e6e6e6;
}

.thumb-img {
      padding: 10px;
}
     
.icon-olho {
    font-size: 40px;
}
 
 
     
     
    
